{% extends "EfcBackOfficeBundle::layout.html.twig" %}

{% block title %}Créer article - {{ parent() }}{% endblock %}

{% block content %}

    <div class="entity-edit">
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('efc_back_office_homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('efc_back_office_article_index') }}">Articles</a>
            </li>
        </ol>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

            </div>
        </div>

    </div>

{% endblock %}
