<?xml version="1.0" encoding="UTF-8"?>
<routes>
	<route url="/" module="Accueil" action="index" />
	<route url="/lang/([0-9]+)" module="Accueil" action="language" vars="id_language" />
	<route url="/newsletter" module="Accueil" action="newsletter" />
    <route url="/article/([0-9]+)" module="Article" action="show" vars="id_article" />
    <route url="/articles" module="Article" action="list" />
    <route url="/agenda/([0-9]+)" module="Agenda" action="show" vars="id_agenda" />
    <route url="/agenda" module="Agenda" action="list" />
    <route url="/equipe" module="Equipe" action="index" />
    <route url="/contact" module="Contact" action="index" />
	
	<route url="/test/traduction" module="Test" action="trad" />
</routes>